## LOAD ALIASES ========================================

echo "-> Loaded .aliases WIN"

## ALIAS - COMMITS =====================================

alias gc="git commit -m"                                #COMMIT
alias gca='git commit --amend -m'                       #COMMIT
alias gcan='git commit --amend --no-edit'               #COMMIT
alias gaa='git add .'                                   #COMMIT
alias gaca='git add . && git commit --amend --no-edit'  #COMMIT
alias gacan='git add . && git commit --amend --no-edit' #COMMIT

## ALIAS - BRANCHES ====================================

alias cb='git checkout -b'     #BRANCH
alias bm='git checkout master' #BRANCH
alias bl='git branch --all'    #BRANCH
alias bd='git branch -D'       #BRANCH

## ALIAS - PUSH/PULL ===================================

alias po='git push origin'          #PUSH_PULL
alias pom='git push origin master'  #PUSH_PULL
alias pull='git pull origin master' #PUSH_PULL

## ALIAS - UNDO ========================================

alias undo='git checkout --'             #UNDO - git undo file.js = will undo all changes made in the file since last commit
alias unstage='git reset HEAD --'        #UNDO - git unstage file.js = will remove file from stagging area
alias rollback='git reset --soft HEAD~1' #UNDO - will delete last commit but preserve file changes

## ALIAS - GIT OTHERS ==================================

alias lg="git log --oneline --decorate --all --graph" #GIT_OTHER
alias gcp='git cherry-pick'                           #GIT_OTHER
alias gd='git diff -w'                                #GIT_OTHER

## ALIAS - NPM =========================================

alias ni='npm install' #NPM
alias nr='npm run'     #NPM

## ALIAS - DOCKER ======================================

alias dc=docker          #DOCKER
alias dcc=docker-compose #DOCKER

dclear () {
  docker ps -a -q | xargs docker kill -f
  docker ps -a -q | xargs docker rm -f
  docker images | grep "api\|none" | awk '{print $3}' | xargs docker rmi -f
  docker volume prune -f
}

## HUSKY ===============================================

alias hus='npx husky install' #HUSKY

## FUNCTIONS ===========================================

note (){
  file="$HOME/drafts.txt"
  echo "date: $(date)" >> $file
  echo "$@" >> $file
  echo "" >> $file
}
